<section class="container mb-5 c-02">
    <div class="row">
        <div class="col-12 mb-3 text-center">
            <h2 class="text text-color-white text-size-2 text-size-lg-2-5 text-light">ALL THE LATEST FROM AEG</h2>
        </div>
        <div class="col-12 d-flex flex-wrap"> 
            {{> @b-card
                b_card_img="../../../img/component-02/Image-01.jpg"
                b_card_title="Summer Lunch Menu By Mark Bes"
                b_card_content="AEG ambassador Mark Best's summer eats are guaranteed to help you make the most of the warmer weather and entertaining at home."
                b_card_link="google.com"
                b_card_btn_text="READ MORE"
            }}
            {{> @b-card
                b_card_img="../../../img/component-02/Image-02.jpg"
                b_card_title="A Traditional Christmas Eve, Mark Best Style"
                b_card_content="One of Australia's best chefs and AEG ambassador, Mark Best, shares his favourite Christmas Eve menu which is sure to impress your guests."
                b_card_link="google.com"
                b_card_btn_text="READ MORE"
            }}
            {{> @b-card
                b_card_img="../../../img/component-02/Image-03.jpg"
                b_card_title="Taking Taste Further"
                b_card_content="This exclusive cookbook gives you all the know-how you need. We've designed it to make sure you get the most out of our products – and the best out of your food."
                b_card_link="google.com"
                b_card_btn_text="READ MORE"
            }}
        </div>
    </div>
</section>